body {
  background: midnightblue;
}
.main {
  text-align: center;
  width: 80%;
  margin: 15px auto;
}
.main .divider {
  color:azure;
}
#convert-to-dropdown .label {
  background: orange;
  color: midnightblue;
}


.target-options .segment .input .label {
  background: orange;
  color: midnightblue;
}
